<div class="layout-wrapper" [ngClass]="containerClass">
    <app-topbar *ngIf="!router.url.includes('/login')"></app-topbar>
    <div class="layout-sidebar" *ngIf="!router.url.includes('/login')">
        <app-sidebar #appSidebar></app-sidebar>
    </div>
    <div class="layout-main-container">
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>
        <app-footer *ngIf="!router.url.includes('/login')"></app-footer>
    </div>
    <app-config *ngIf="!router.url.includes('/login')"></app-config>
    <div class="layout-mask" *ngIf="!router.url.includes('/login')"></div>
</div>