.layout-wrapper {
    &.layout-login-page {
      .layout-main-container {
        margin-left: 0; // Remove the sidebar margin
      }
  
      .layout-main-container .layout-main {
        padding-top: 0; // Remove the topbar padding
      }
  
      .layout-sidebar,
      .app-topbar,
      .app-footer,
      .app-config,
      .layout-mask {
        display: none; // Hide these components
      }
    }
}