<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Temperature</span>
                    <div *ngIf="weatherData" class="text-900 font-medium text-xl">
                        {{ weatherData.current.temperature_2m }}°C
                    </div>
                    <div *ngIf="!weatherData" class="text-900 font-medium text-xl">
                        Loading...
                    </div>
                </div>
                <i class="fas fa-thermometer-half text-blue-500 text-xl"></i>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Precipitation</span>
                    <div *ngIf="weatherData" class="text-green-500 font-medium">
                        {{ weatherData.current.precipitation }}mm/h
                    </div>
                </div>
                <i class="fas fa-rain text-green-500 text-xl"></i>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Wind Speed</span>
                    <div *ngIf="weatherData" class="text-500">
                        {{ weatherData.current.wind_speed_10m }}km/h
                    </div>
                </div>
                <i class="fas fa-wind text-500 text-xl"></i>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Wind Direction</span>
                    <div *ngIf="weatherData" class="text-500">
                        {{ weatherData.current.wind_direction_10m }}°
                    </div>
                </div>
                <i class="pi pi-compass text-500 text-xl"></i>
            </div>
        </div>
    </div>
    <div class="col-12 xl:col-6">
        <!-- Small Card for Weather Map -->
        <div class="map-container">
            
              <div id="map"></div>
            
          </div>
    </div>
    <div class="col-12 xl:col-6">
        <div class="card">
          <h5>Precipitation Chart</h5>
          <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
        </div>
        <div class="col-12 xl:col-6">
            <!-- Parcel List Card -->
            <div class="card mb-0">
                <h5>Parcel List</h5>
                <p-table [value]="corp.parcelleList" [responsive]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Parcel Name</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-parcelle>
                        <tr>
                            <td>{{ parcelle.name }}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-plain mr-2 " [routerLink]="['/parceldashboard',corp.name,parcelle.name]"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div *ngIf="!corp?.parcelleList|| corp?.parcelleList.length === 0" class="text-muted mt-2">No parcel details available.</div>
            </div>
        </div>
    </div>
</div>
