@import "~leaflet/dist/leaflet.css";

.map-container {
  position: relative; /* Changed to relative to respect parent dimensions */
  width: 100%;
  height: 100%;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

