<ul class="layout-menu">
  <!-- Iterate over the model array and render each menu item -->
  <ng-container *ngFor="let menuItem of model">
    <li *ngIf="menuItem.items && menuItem.items.length > 0" class="parent-menu">
      <!-- Render parent menu item with sub-items -->
      <a href="#" class="parent-menu-link">{{ menuItem.label }}</a>
      <ul class="sub-menu">
        <!-- Iterate over sub-items and render them -->
        <li *ngFor="let subMenuItem of menuItem.items">
          <a [routerLink]="subMenuItem.routerLink" class="sub-menu-link" [style.font-weight]="subMenuItem.style?.fontWeight" [style.color]="subMenuItem.style?.color">
            <i class="{{ subMenuItem.icon }}"></i> <!-- Font Awesome icon -->
            {{ subMenuItem.label }}
          </a>
        </li>
      </ul>
    </li>
    <li *ngIf="!menuItem.items || menuItem.items.length === 0">
      <!-- Render single menu item without sub-items -->
      <a [routerLink]="menuItem.routerLink" [style.font-weight]="menuItem.style?.fontWeight" [style.color]="menuItem.style?.color">
        <i class="{{ menuItem.icon }}"></i> <!-- Font Awesome icon -->
        {{ menuItem.label }}
      </a>
    </li>
  </ng-container>
</ul>
