<div class="col-12">
    <div class="card">
        <h5>Users</h5>
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <div class="my-2">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                </div>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." class="w-full sm:w-auto"/>
                </span>
            </ng-template>
        </p-toolbar>
        <p-table #dt [value]="users" [expandedRowKeys]="expandedRows" dataKey="id" responsiveLayout="scroll" [columns]="cols" [rows]="10" [globalFilterFields]="['username','email','firstName','lastName']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedUsers" selectionMode="multiple" [rowHover]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th pSortableColumn="username">Username <p-sortIcon field="username"></p-sortIcon></th>
                    <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="firstName">First Name <p-sortIcon field="firstName"></p-sortIcon></th>
                    <th pSortableColumn="lastName">Last Name <p-sortIcon field="lastName"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="user" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editUser(user)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteUser(user)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-user>
                <tr *ngIf="user.corp">
                    <td colspan="6">
                        <div class="p-3">
                            <ng-container *ngIf="user">
                                <p-table [value]="[user.corp]" dataKey="id" responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="name">Corp Name <p-sortIcon field="name"></p-sortIcon></th>
                                            <th pSortableColumn="latitude">Latitude<p-sortIcon field="size"></p-sortIcon></th>
                                            <th pSortableColumn="longitude">Longitude <p-sortIcon field="soilType"></p-sortIcon></th>
                                            <th pSortableColumn="totalSize">TotalSize<p-sortIcon field="plant"></p-sortIcon></th>
                                            <th></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-corp>
                                        <tr>
                                            <td>{{ corp.name }}</td>
                                            <td>{{ corp.latitude }}</td>
                                            <td>{{ corp.longitude }}</td>
                                            <td>{{ corp.totalSize }}</td>
                                            <td>
                                                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-plain mr-2" [routerLink]="['/corpdashboard', corp.id, corp.latitude, corp.longitude]"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </ng-container>
                        </div>
                    </td>
                </tr>
            </ng-template>
            
        </p-table>
    </div>
</div>


<p-dialog header="User Details" [(visible)]="userDialog" [modal]="true" [style]="{width: '50vw'}" [closable]="false" (onHide)="hideDialog()">
    <div class="p-fluid">
        <div class="p-field">
            <label for="username">Username</label>
            <input id="username" type="text" pInputText [(ngModel)]="newUser.username" required/>
        </div>
        <div class="p-field">
            <label for="email">Email</label>
            <input id="email" type="text" pInputText [(ngModel)]="newUser.email" required/>
        </div>
        <div class="p-field">
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" pInputText [(ngModel)]="newUser.firstName"/>
        </div>
        <div class="p-field">
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" pInputText [(ngModel)]="newUser.lastName"/>
        </div>
        <div class="p-field">
            <label for="password">Password</label>
            <input id="password" type="password" pInputText [(ngModel)]="newUser.password" required/>
        </div>
    </div>
    <p-footer>
        <button pButton label="Cancel" icon="pi pi-times" (click)="hideDialog()"></button>
        <button pButton label="Save" icon="pi pi-check" (click)="saveUser()" [disabled]="!newUser.username || !newUser.email || !newUser.password"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Confirm" [(visible)]="deleteUserDialog" modal="modal" [closable]="false" [style]="{width: '350px'}" (onHide)="hideDialog()">
    <div class="confirmation-content">
        <i class="pi pi-exclamation-triangle" style="font-size: 2rem;"></i>
        <span>Are you sure you want to delete <b>{{newUser.username}}</b>?</span>
    </div>
    <p-footer>
        <button pButton label="No" icon="pi pi-times" (click)="hideDialog()"></button>
        <button pButton label="Yes" icon="pi pi-check" (click)="confirmDelete()"></button>
    </p-footer>
</p-dialog>
