<div>
  <form [formGroup]="registerForm">
  <label for="username" class="block text-900 text-xl font-medium mb-2">User Name</label>
  <input type="text" placeholder="User Name" formControlName ="username" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">

  <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
  <input type="email" placeholder="Email address" formControlName ="email" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">

  <label for="password" class="block text-900 font-medium text-xl mb-2">Password</label>
  <p-password formControlName="password" type="password" placeholder="Password" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>
  
  <label for="firstName" class="block text-900 text-xl font-medium mb-2">First Name</label>
  <input type="text" placeholder="First Name" formControlName ="firstName" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">

  <label for="lastName" class="block text-900 text-xl font-medium mb-2">Last Name</label>
  <input type="text" placeholder="Last Name" formControlName ="lastName" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">

  </form>
  <button pButton pRipple label="Sign In" class="w-full p-3 text-xl" (click)="signup()"></button>
  
</div>