<div class="grid">
  <!-- Cards for Soil Moisture, Soil Temperature, Evapotranspiration, Decision -->
  <div class="col-12 lg:col-4 xl:col-4">
    <div class="card mb-4">
      <!-- Soil Moisture -->
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Soil Moisture</span>
          <div class="text-900 font-medium text-xl">{{soilMoisture}}</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="fas fa-tint text-blue-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-4 xl:col-4">
    <div class="card mb-4">
      <!-- Soil Temperature -->
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Soil Temperature</span>
          <div class="text-900 font-medium text-xl">{{soilTemperature}}</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="fas fa-thermometer-half text-orange-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-4 xl:col-4">
    <div class="card mb-4">
      <!-- Evapotranspiration -->
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Evapotranspiration</span>
          <div class="text-900 font-medium text-xl">{{evapotranspiration}}</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="fas fa-cloud-sun text-cyan-500 text-xl"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 lg:col-4 xl:col-4">
    <div class="card mb-4">
      <!-- Decision -->
      <div class="flex justify-content-between mb-3">
        <div>
            <span class="block text-500 font-medium mb-3">System</span>
            <div class="text-900 font-medium text-xl">{{ decision }}</div>
        </div>
        <div class="flex align-items-center justify-content-center border-round">
            <button pButton pRipple class="p-button-rounded p-button-plain mr-2" (click)="toggleSystem()">
                {{ actionLabel }}
            </button>
            <button pButton pRipple label="Schedule" (click)="showIrrigationScheduleDialog()"></button>
        </div>
    </div>   
    </div>
    <div class="col-12 xl:col-12">
      <div class="card">
        <div class="flex justify-content-between align-items-center mb-5">
          <h5>Alerts</h5>
        </div>
        <ul class="list-none p-0 m-0">
          <li *ngFor="let alert of alerts" class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div>
              <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{alert.sensorName}}</span>
              <div class="mt-1 text-600">{{alert.data}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Charts and Alerts -->
  <div class="col-12 xl:col-8">
    <div class="grid">
      <div class="col-12 xl:col-6">
        <div class="card">
          <h5>Moisture Chart</h5>
          <p-chart type="line" [data]="soilMoistureChartData" [options]="chartOptions"></p-chart>
        </div>
      </div>
      <div class="col-12 xl:col-6">
        <div class="card">
          <h5>Temperature Chart</h5>
          <p-chart type="line" [data]="soilTemperatureChartData" [options]="chartOptions"></p-chart>
        </div>
      </div>
      <div class="col-12 xl:col-6">
        <div class="card">
          <h5>Evapotranspiration Chart</h5>
          <p-chart type="line" [data]="evapotranspirationChartData" [options]="chartOptions"></p-chart>
        </div>
      </div>
      <div class="col-12 lg:col-6 xl:col-6">
      <div class="card mb-4">
        <!-- Mode Selection -->
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">System Mode</span>
            <div class="text-900 font-medium text-xl">{{ mode }}</div>
          </div>
          <div class="flex align-items-center justify-content-center border-round">
            <button pButton pRipple class="p-button-rounded p-button-plain mr-2" (click)="toggleMode()">
              {{ modeLabel }}
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="irrigationScheduleDialog" header="Planifier l'Irrigation" [modal]="true" [style]="{width: '450px'}" class="p-fluid">
  <ng-template pTemplate="content">
      <div class="p-field">
        <label for="startDate">Date de début</label>
        <input id="startDate" type="date" pInputText [(ngModel)]="irrigationSchedule.startDate" name="startDate" required>
      </div>
      <div class="p-field">
        <label for="endDate">Date de fin</label>
        <input id="endDate" type="date" pInputText [(ngModel)]="irrigationSchedule.endDate" name="endDate" required>
      </div>
      <div class="p-field">
        <label for="startTime">Heure de début</label>
        <input id="startTime" type="time" pInputText [(ngModel)]="irrigationSchedule.startTime" name="startTime" required>
      </div>
      <div class="p-field">
        <label for="endTime">Heure de fin</label>
        <input id="endTime" type="time" pInputText [(ngModel)]="irrigationSchedule.endTime" name="endTime" required>
      </div>
  </ng-template>
      <ng-template pTemplate="footer">
        <button pButton pRipple label="Planifier" icon="pi pi-check" class="p-button-text" (click)="submitIrrigationSchedule(irrigationSchedule)"></button>
    </ng-template>
</p-dialog>