<div class="card px-6 py-6">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewPlant()"></button>
            </div>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="plants" [columns]="plantCols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedPlants" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0">Manage Plants</h5>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." class="w-full sm:w-auto"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-plant>
            <tr>
                <td>
                    <p-tableCheckbox [value]="plant"></p-tableCheckbox>
                </td>
                <td style="width:20%; min-width:10rem;"><span class="p-column-title">Name</span>
                    {{plant.name}}
                </td>
                <td>
                    <div class="flex">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editPlant(plant)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePlant(plant)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog [(visible)]="addPlantDialog" [style]="{width: '450px'}" header="Add New Plant" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="plant-name">Name</label>
            <input id="plant-name" type="text" pInputText [(ngModel)]="newPlant.name" />
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideAddNewPlantDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="savePlant()"></button>
    </ng-template>
</p-dialog>

<!-- Edit Plant Dialog -->
<p-dialog [(visible)]="editPlantDialog" [style]="{width: '450px'}" header="Edit Plant" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="edit-plant-name">Name</label>
            <input id="edit-plant-name" type="text" pInputText [(ngModel)]="newPlant.name" />
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updatePlant(newPlant)"></button>
    </ng-template>
</p-dialog>

<!-- Delete Plant Dialog -->
<p-dialog [(visible)]="deletePlantDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="newPlant">Are you sure you want to delete <b>{{newPlant.name}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deletePlantDialog = faslse"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeletePlant()"></button>
    </ng-template>
</p-dialog>
