<div class="col-12">
    <div class="card">
        <h5>Corps</h5>
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <div class="my-2">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                </div>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." class="w-full sm:w-auto"/>
                </span>
            </ng-template>
        </p-toolbar>
        <p-table #dt [value]="corps" dataKey="id" [expandedRowKeys]="expandedRows" responsiveLayout="scroll" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','location','totalSize']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedCopr" selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
                <button pButton class="m-0" icon="pi pi-fw {{isExpanded ? 'pi-minus' : 'pi-plus'}}" label="{{isExpanded ? 'Collapse All' : 'Expand All'}}" (click)="expandAll()"></button>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th pSortableColumn="name">Corp Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="latitude">Latitude <p-sortIcon field="latitude"></p-sortIcon></th>
                    <th pSortableColumn="longitude">Longitude <p-sortIcon field="longitude"></p-sortIcon></th>
                    <th pSortableColumn="totalSize">Total Size <p-sortIcon field="totalSize"></p-sortIcon></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-corp let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="corp" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td style="min-width: 12rem;">{{ corp.name }}</td>
                    <td style="min-width: 10rem;">{{corp.latitude}}</td>
                    <td style="min-width: 10rem;">{{corp.longitude}}</td>
                    <td style="min-width: 10rem;">{{corp.totalSize}}</td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editCorp(corp)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteCorp(corp)"></button>
                            <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-plain mr-2 " [routerLink]="['/corpdashboard', corp.id, corp.latitude, corp.longitude]"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-corp>
                <tr>
                  <td colspan="4">
                    <div class="p-3">
                      <p-table [value]="corp.parcelleList" dataKey="id" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                          <tr>
                            <th pSortableColumn="name">Parcelle Name <p-sortIcon field="name"></p-sortIcon></th>
                            <th pSortableColumn="soilType">Soil Type <p-sortIcon field="soilType"></p-sortIcon></th>
                            <th pSortableColumn="size">Size <p-sortIcon field="size"></p-sortIcon></th>
                            <th pSortableColumn="plant">Plant Name <p-sortIcon field="plant"></p-sortIcon></th>
                            <th></th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-parcelle>
                          <tr>
                            <td>{{ parcelle.name }}</td>
                            <td>{{ parcelle.soilType }}</td>
                            <td>{{ parcelle.size }}</td>
                            <td>{{ parcelle.plant?.name }}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-plain mr-2 " [routerLink]="['/parceldashboard',corp.name,parcelle.name]"></button>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </td>
                </tr>
              </ng-template>
        </p-table>
    </div>
</div>
<p-dialog style="overflow-y: scroll;" [(visible)]="addNewCorpDialog" [style]="{width: '450px'}" header="Add New Corp" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Name</label>
            <input id="name" type="text" pInputText [(ngModel)]="newCorp.name" />
        </div>
        <div class="p-field">
            <label for="owner">Owner</label>
            <p-dropdown id="owner" [options]="farmerUsers" [(ngModel)]="newCorp.owner" optionLabel="username" placeholder="Select Owner"></p-dropdown>
        </div>
        <div class="p-field">
            <label for="latitude">Latitude</label>
            <input id="latitude" type="text" pInputText [(ngModel)]="newCorp.latitude" />
        </div>
        <div class="p-field">
            <label for="longitude">Longitude</label>
            <input id="longitude" type="text" pInputText [(ngModel)]="newCorp.longitude" />
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveCorp()"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="editeCorpDialog" [style]="{width: '450px'}" header="Edite Corp" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Name</label>
            <input id="name" type="text" pInputText [(ngModel)]="newCorp.name" />
        </div>
        <div class="p-field">
            <label for="latitude">Location</label>
            <input id="latitude" type="text" pInputText [(ngModel)]="newCorp.latitude" />
        </div>
        <div class="p-field">
            <label for="longitude">Location</label>
            <input id="longitude" type="text" pInputText [(ngModel)]="newCorp.longitude" />
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updateCorp(newCorp)"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="deleteCorpDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="newCorp">Are you sure you want to delete <b>{{newCorp.name}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteCorpDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
    </ng-template>
</p-dialog>
