<div class="card px-6 py-6">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            </div>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="parcelles" [columns]="parcelleCols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','soilType','size','plant']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedParcelle" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0">Manage Parcelle</h5>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." class="w-full sm:w-auto"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="soilType">Soil Type <p-sortIcon field="soilType"></p-sortIcon></th>
                <th pSortableColumn="size">Size <p-sortIcon field="size"></p-sortIcon></th>
                <th pSortableColumn="plant">plant <p-sortIcon field="plant"></p-sortIcon></th>
                <th pSortableColumn="corp">Corp <p-sortIcon field="corp"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-parcelle>
            <tr>
                <td>
                    <p-tableCheckbox [value]="parcelle"></p-tableCheckbox>
                </td>
                <td style="width:20%; min-width:10rem;"><span class="p-column-title">Name</span>
                    {{parcelle.name}}
                </td>
                <td style="width:20%; min-width:10rem;"><span class="p-column-title">Soil Type</span>
                    {{parcelle.soilType}}
                </td>
                <td style="width:20%; min-width:10rem;"><span class="p-column-title">Size</span>
                    {{parcelle.size}}
                </td>
                <td style="width:20%; min-width:10rem;"><span class="p-column-title">Plant</span>
                    {{parcelle.plant.name}}
                </td>
                <td style="width:20%; min-width:10rem;"><span class="p-column-title">Corp</span>
                    {{parcelle.corp.name}}
                </td>
                <td>
                    <div class="flex">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editParcelle(parcelle)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteParcelle(parcelle)"></button>
                        <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-plain mr-2 " [routerLink]="['/parceldashboard',corp.name,parcelle.name]"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog [(visible)]="addNewParcelleDialog" [style]="{width: '450px'}" header="New Parcelle" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="corp">Corp</label>
            <p-dropdown [(ngModel)]="newParcelle.corp" inputId="corp" [options]="corp" optionLabel="name" placeholder="Select Corporation"></p-dropdown>
        </div>   
        <div class="field">
            <label for="soilType">Soil Type</label>
            <p-dropdown [(ngModel)]="newParcelle.soilType" inputId="soilType" [options]="soilTypes" placeholder="Select Soil Type"></p-dropdown>
        </div>
        <div class="field">
            <label for="plant">Plant</label>
            <p-dropdown [(ngModel)]="newParcelle.plant" inputId="plant" [options]="plant" optionLabel="name" placeholder="Select Plant"></p-dropdown>
        </div>
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="newParcelle.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !newParcelle.name}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !newParcelle.name">Name is required.</small>
        </div>
        <div class="field">
            <label for="size">Size</label>
            <input type="text" pInputText id="name" [(ngModel)]="newParcelle.size" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !newParcelle.size}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !newParcelle.size">Size is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveParcelle()"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="editParcelleDialog" [style]="{width: '450px'}" header="Edit Parcelle" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">   
        <div class="field">
            <label for="soilType">Soil Type</label>
            <p-dropdown [(ngModel)]="newParcelle.soilType" inputId="soilType" [options]="soilTypes" placeholder="Select Soil Type"></p-dropdown>
        </div>
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="newParcelle.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !newParcelle.name}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !newParcelle.name">Name is required.</small>
        </div>
        <div class="field">
            <label for="size">Size</label>
            <input type="text" pInputText id="name" [(ngModel)]="newParcelle.size" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !newParcelle.size}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !newParcelle.size">Size is required.</small>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updateParcelle(newParcelle)"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteParcelleDialog" [style]="{width: '450px'}" header="Delete Parcelle" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="newParcelle">Are you sure you want to delete <b>{{newParcelle.name}}</b>?</span>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-text" (click)="confirmDelete()"></button>
    </ng-template>
</p-dialog>

