.notification-count {
    position: absolute;
    top: -10px;  /* Adjust as needed */
    right: -10px; /* Adjust as needed */
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0 5px;
    font-size: 12px;
    display: inline-block; /* Ensure it is displayed */
    z-index: 10; /* Ensure it is above other elements */
  }
  
  .layout-topbar-button {
    position: relative; /* Ensure relative positioning for absolute child elements */
  }
  
  .notification-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1000;
  }
  
  .p-card {
    width: 300px; /* Adjust width as needed */
    margin-bottom: 10px;
  }
  
  .p-card-header {
    background-color: #007bff; /* Example background color */
    color: white;
    padding: 0.5em;
  }
  
  .p-card-body {
    padding: 1em;
    border: 1px solid #ccc;
  }
  