<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img src="assets/layout/images/{{ layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white' }}.svg" alt="logo">
    <span>SAKAI</span>
  </a>

  <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
    <i class="pi pi-bars"></i>
  </button>

  <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu" [ngClass]="{ 'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible }">
    
    <ng-container *ngIf="isAdmin()">
      <button class="p-link layout-topbar-button" (click)="logout()">
        <i class="pi pi-power-off"></i>
        <span>Logout</span>
      </button>
    </ng-container>

    <ng-container *ngIf="isFarmerOrEmployee()">
      <!-- Bell icon with overlay panel -->
      <p-overlayPanel #op [style]="{ width: '350px' }" [showCloseIcon]="true" [dismissable]="true">
        <ng-template pTemplate="content">
          <div class="p-3">
            <h4>Notifications</h4>
            <div *ngIf="notifications.length === 0" class="text-center mt-3">No new notifications.</div>
            <div *ngFor="let notification of notifications" class="surface-card shadow-2 border-round mb-3">
              <div class="p-3">
                <div class="flex align-items-center justify-content-between mb-2">
                  <span class="text-900 font-medium">{{ notification }}</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-overlayPanel>

      <!-- Bell icon trigger -->
      <button class="p-link layout-topbar-button" (click)="op.toggle($event)">
        <i class="pi pi-bell"></i>
        <span>Notifications</span>
        <span class="notification-count" *ngIf="notifications.length > 0">{{ notifications.length }}</span>
      </button>

      <!-- Logout button -->
      <button class="p-link layout-topbar-button" (click)="logout()">
        <i class="pi pi-power-off"></i>
        <span>Logout</span>
      </button>
    </ng-container>
  </div>
</div>
